.bo-bg {
    background: url(bo-bg.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    position: relative;
    vertical-align: middle;
    display: table-cell;
}

.bo-bg {
    background: url(che-bg.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    position: relative;
    vertical-align: middle;
    display: table-cell;
}

.bo-pd-80 {
    padding-bottom: 80px;
    padding-top: 80px;
}
.c-mt-70 {
    margin-top: 70px;
}

.bo-pd-80.P100 {
    padding-bottom: 100px;
    padding-top: 120px;
}

.font40 {
    font-size: 40px;
    margin-bottom: 40px;
}

.bo-font-32 {
    margin: 50px;
    font-size: 32px;
    line-height: 50px;
    text-align: center;
}

.bo-box {
    position: relative;
    border-radius: 30px;
    border: solid 1px #fad4b8;
    padding: 20px 0;
}

.bo-tit {
    width: 100%;
    position: absolute;
    top: -23px;

}

.bo-text {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    background: #f7f8f8;
}

.bo-gray-bg {
    background-color: #f7f8f8;
}

.bo-logo {
    text-align: center;

}

.bo-logo img {
    width: 100%;
}

.bo-mb-30 {
    margin-bottom: 30px;
}

.bo-tou .col-md-4 img {
    width: 100%;
    height: auto;
}

.bo-zs {
    background: url(b-zs.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    position: relative;
    vertical-align: middle;
    text-align: center;
}


.bo-zs .button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 17px;
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
    margin-top: 120px;
    color: #fff;
    background: rgba(162, 48, 2, 0.8);
}

.che-p {
    margin-top: -10px;
    font-size: 16px;
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 50px;
}

.c-title {
    text-align: center;
    margin: 5px 0 50px 0;
}

.tit-tit {
    font-size: 28px;
    line-height: 55px;
}

.tit-des {
    font-size: 20px;
    line-height: 30px;
}

.c-box-c {
    padding: 20px 0;
    background: #fff;
    border-radius: 30px;
    text-align: center;
}


.c-box-c img {
    height: 70px !important;

}
.che-map {
    background: url(che-map.png) #f7f8f8 no-repeat;
    background-size: 60%;
    background-position: center bottom;
}